body {
	font-family: Helvetica, sans-serif;
	height: 100%;
	margin: 0;
	display: flex; 
	flex-direction: column;
	align-items: center;
}
a {
	color: gray;
	text-decoration: none;
}
a:hover {
	color: silver;
}
header {
	font-size: 150%;
	margin-top: 20px;
	margin-bottom: 20px;
}
.container {
	width: 50%;
}
.center {
	text-align: center
}
.pagination {
	display: inline-block;
	margin-top: 20px;
}
.pagination a {
	padding: 0px 5px;
}
.back {
	margin-top: 30px;
}
footer {
	margin-top: auto;
	height: 30px;
	width: 100%;
	text-align: center;
	line-height: 150%;
	border-top: 1px solid black;
}