<html>
<head>
	<meta charset="utf-8">
	<title>LaKiller's Statbus</title>
	<meta name="description" content="Meanigless statistics for an even more meaningless game.">
	<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
	<link rel="shortcut icon" type="image/x-icon" href="{{url_for('static', filename='favicon.png')}}"/>
</head>
<body>
	<header>{% block header %}{% endblock header %}</header>
	<div class="container">{% block body %} {% endblock body %}</div>
	<footer><a href="{{url_for('home.index')}}">Home</a> | Made by LaKiller8 | <a href="https://github.com/DominikPanic/lakiller.cz">Source</a></footer>
</body>
</html>